:root {
	--pink-color: #ff7e38;
	--blue-color: #1e9ac7;
	--black-color: #333;
	--gray-color: #666;
}

html {
	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: var(--black-color);

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

p, a {
	font-size: 1.6rem;
	font-weight: 300;
}
a {
	color: var(--pink-color);
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.cover {
	background-image:url(../img/cover_triangles.png);
	background-repeat:no-repeat;
    background-size:cover;
    background-position: center bottom;

    color: white;
}
.cover .row {
	margin-left: 8%;
	margin-right: 8%;
}

.cover h1 {
	font-size: 4rem;
	text-transform: uppercase;
	line-height: 1.1;
	margin: 0 0 2.5rem 0;
}
.cover p {
	margin-top: 2rem;
}
.cover .title {

}
.cover .date-location {
	
}
.cover .date-location * {
	text-transform: uppercase;
	text-align: right;
	line-height: 1.2;
	margin: 0;
}
.cover .cover-cta {
	margin-top: 5rem;
	text-align: center;
}
.cover .cover-cta a {

}

.card-speaker {
	background-color: gray;
	min-height: 200px;

	display: flex;
}

.card-speaker .profile {
	background-color: orange;
	width: 240px;
}
.card-speaker .profile img {
	background-color: gray;
	width: 80px;
	height: 80px;
}


.content-testimony {
	padding: 50px 0;
	margin-top: 50px;
	background-color: #d03690;
}
	
blockquote {
  border-left: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: sans-serif;
  color: #FFF;
  font-style: italic;
  font-weight: 400;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p{
	color: #ebebeb;
}

.content-partners {
	padding: 20vh 25vh;
}

.content-ticket {
	background-color: #1a7a9c;
	color: #fff;
}
	.content-ticket h2 {
		color: #fd31cc;
	}

.btn-ticket {
	align-self: center;
}

footer {
	margin-top: 0;
	background-color: #1e9ac7;
	min-height: 120px;
	width: 100%;
}
footer .container .row {
	text-align: center;
}
footer .container {
	padding: 20px;
}
footer .contact p {
	font-size: 1.2rem;
	color: white !important;
}